.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;

    background-color: rgb(247, 245, 241) ;

    list-style-type: none;
}

.item-container li div {
    padding: .2em;
}